.contenedorPrincipalOpenNavbar {
    width: 50%;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    z-index: 999;
    overflow-y: auto; /* Permitir scroll vertical si el contenido excede la altura */
}

@media (max-width: 600px) {
    .contenedorPrincipalOpenNavbar {
        width: 100%;
        height: 90%;
        position: fixed;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto !important; /* Permitir scroll vertical si el contenido excede la altura */
    }

    .contenedorInternoOpenNavbar {
        width: 88%;
        padding-top: 30px;
        overflow-y: auto; /* Permitir scroll vertical si el contenido excede la altura */
    }

    .contenedorLista {
        padding-bottom: 100px;
        width: 100%;
        height: auto; /* Ajustar altura automáticamente según el contenido */
    }

    .ulChildren {
        overflow-y: auto; /* Permitir scroll vertical para los hijos si exceden la altura */
        max-height: 300px; /* Altura máxima para evitar que los hijos ocupen demasiado espacio */
    }
    .logoItem {
        width: 100%;
        display: flex;
        align-items: center;
        transition: 0.5s;
    }

    .logoItem:hover {
        background-color: #eff7ff;
    }

    .logoItem > div {
        margin-left: 15px;
        font-weight: 600;
        color: #2b3445;
        font-size: 1.4rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .liWhitChildren{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .contenedorChildTitleIcon{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: solid 1x;
    }

    .contenedorDownArrow{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .listaUl {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .categoriesContainer{
        display: flex;
        justify-content: space-between;
    }

    .internoCategories{
        display: flex;
    }

    .categoriesContainer span {
        display: flex;
        margin-left: 10px;
    }

    .categories {
        font-weight: 600;
        color: #2b3445;
        font-size: 1.4rem;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .logoItemsContainer {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuItemIcon {
        font-size: 1.4rem;
        color: #2b3445;
    }

    .ulChildren {
        list-style: none;
        margin-top: 10px;
    }

    .contenedorTerms {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contenedorTextBlue {
        width: 80%;
        height: 50%;
        border-bottom: 2px solid #dee7f0;
        display: flex;
        justify-content: space-around;
    }

    .textBlue {
        color: #0d5084;
        font-size: 1.2rem;
    }

    .contenedorYearHireFy {
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: start;
        padding-top: 10px;
    }

    .finalText {
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000c0;
    }
}
