.contenedorPrincipalOpenNavbar{
    width: 50%;
    height: 100vh;
    position: fixed;
    position: absolute;
    background-color: #ffff; 
    z-index: 999;
}

@media (max-width: 600px) {
    .contenedorPrincipalOpenNavbar{
        width: 100%;
        height: 150vh;
        position: fixed;
        position: absolute;
        background-color: #ffff; 
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenedorInternoOpenNavbar{
        width: 88%;
        height: auto;
        padding-top: 30px
    }
    .contenedorLista{
        width: 100%;
        height: 100%;
    }
    .lista{
        list-style: none ;
        width: 100%;
    }
    li{
        display: flex;
        align-items: center;
        font-weight: 600;
        height: 80px;
        transition: 0.5s;
        font-size: 1.2rem;
    }
    li:hover{
        background-color: #EEF7FF;
    }
    .liLogo{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .liCategories{
        display: flex;
        justify-content: space-between;
    }

    .textoYlogo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedorArrowDown{
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categoriasAbiertas{
        width: 100%;
        height: auto;
    }

    .liCategoria{
        padding-left: 40px;
        color: #0000008a;
        height: 50px;
    }

    .categoriaInternaAbierta{
        padding-left: 20px;
    }


    .liCategoriaArrow{
        display: flex;
        justify-content: space-between;
    }

    .contenedorArrowCategoria{
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .iconHouse{
        color: #0D5287;
        transition: 0.5s;

    }

    li:hover .iconHouse {
        color: #39D3BB;
    }

    .iconQuestion{
        color: #000;
        transition: 0.5s;
    }
    li:hover .iconQuestion {
        color: #39D3BB;
    }

    .iconUsers{
        color: #000;
        transition: 0.5s;
    }
    li:hover .iconUsers {
        color: #39D3BB;
    }

    .iconFile{
        color: #000;
        transition: 0.5s;
    }
    li:hover .iconFile {
        color: #39D3BB;
    }


    .iconUsers{
        color: #000;
        transition: 0.5s;
    }

    .iconCategories{
        color: #000;
        transition: 0.5s;
    }

    .categoriasAbiertasEstilo{
        background-color: #EEF7FF;
        transition: 0.5s;
    }

    .liCategoriaActive{
        background-color: #EEF7FF;
        transition: 0.5s;
        padding-left: 40px;
        color: #0000008a;
        height: 50px;
    }

    .categoriasAbiertasEstilo .iconCategories{
        color: #39D3BB;
    }

    li:hover .iconCategories {
        color: #39D3BB;
    }

    .iconChevron{
        color: #0D5287;
    }
    .contenedorTerms{
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
    }
    .contenedorTextBlue{
        width: 80%;
        height: 50%;
        border-bottom:  2px solid #DEE7F0;
        display: flex;
        justify-content: space-around;
    }

    .textBlue{
        color: #0d5084;
        font-size: 1.2rem;
    }

    .contenedorYearHireFy{
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: start;
        padding-top: 10px;
    }

    .finalText{
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000c0;;
    }
}